<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AssessTance - Assessment Complete!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/question.css">
</head>

<body>
    <header class="page_header">
        <a class="logo" href="./index.html"><span class="accent_color">Assess</span>Tance</a>
        <div class="account_icon"></div>
    </header>
    <main>
        <section class="main_section">
            <form class="auth_form">
                <h1>
                    Assessment Complete!
                </h1>
                <label for="total_mark">Total Mark:</label>
                <input id="total_mark" type="number" name="total_mark" readonly />
                <input id="submit" type="submit" value="Next">
            </form>
        </section>
    </main>
    <script src="" async defer></script>
</body>

</html>