<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AssessTance - Your #1 Learning Assistant</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <header class="page_header">
        <a class="logo" href="./index.html"><span class="accent_color">Assess</span>Tance</a>
        <div class="account_icon"></div>
    </header>
    <main>
        <section class="main_section">
            <div>
                <h1>
                    Welcome to AssessTance
                </h1>
                <h2>
                    Your #1 Assessment Destination
                </h2>
                <a href="./login.html" class="button">Login</a>
                <a href="./register.html" class="button">Register</a>
            </div>
        </section>
    </main>
    <script src="" async defer></script>
</body>

</html>