<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AssessTance - Create a New Assessment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/form.css">
</head>

<body>
    <header class="page_header">
        <a class="logo" href="./index.html"><span class="accent_color">Assess</span>Tance</a>
        <div class="account_icon"></div>
    </header>
    <main>
        <section class="main_section">
            <form class="auth_form" action="">
                <div class="creation_progress">
                    <div class="progress_bar"></div>
                </div>
                <h1>
                    New Question
                </h1>
                <label for="question">Question:</label>
                <input id="question" type="textarea" name="question" required>
                <label for="question_pts">Question Points:</label>
                <input id="question_pts" type="number" name="question_pts" required>
                <label for="correct_answer">Correct Answer:</label>
                <input id="correct_answer" type="text" name="correct_answer" required>
                <label for="dummy_answer">Dummy Answers:</label>
                <input id="dummy_answer" type="text" name="dummy_answer" required>
                <input id="dummy_answer" type="text" name="dummy_answer" required>
                <input id="dummy_answer" type="text" name="dummy_answer" required>
                <div class="nav_buttons">
                    <input id="back" type="submit" value="Back">
                    <input id="next" type="submit" value="Next">
                </div>
            </form>
        </section>
    </main>
    <script>
    </script>
</body>

</html>