<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AssessTance - Your #1 Learning Assistant</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/form.css">
</head>

<body>
    <header class="page_header">
        <a class="logo" href="./index.html"><span class="accent_color">Assess</span>Tance</a>
        <div class="account_icon"></div>
    </header>
    <main>
        <section class="main_section">
            <div class="container">
                <form class="auth_form">
                    <h1>
                        Settings
                    </h1>
                    <label for="fname" class="label_fname">First Name:</label>
                    <input id="fname" type="text" name="fname" />
                    <label for="lname" class="label_lname">Last Name:</label>
                    <input id="lname" type="text" name="lname" />
                    <label for="username" class="label_username">Username:</label>
                    <input id="username" type="text" name="username" />
                    <label for="email" class="label_email">Email:</label>
                    <input id="email" type="email" name="email" />
                    <label for="password" class="password">Password:</label>
                    <input id="password" type="password" name="password" />
                    <div class="nav_buttons">
                        <input id="back" type="submit" value="Back">
                        <input id="update" type="submit" value="Update">
                    </div>
                </form>
            </div>
        </section>
    </main>
    <script>
    </script>
    <script src="" async defer></script>
</body>

</html>