<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AssessTance - Take an Assessment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/form.css">
</head>

<body>
    <header class="page_header">
        <a class="logo" href="./index.html"><span class="accent_color">Assess</span>Tance</a>
        <div class="account_icon"></div>
    </header>
    <main>
        <section class="main_section">
            <div>
                <h1>
                    Take an Assessment
                </h1>
                <form class="auth_form" action="">
                    <label for="assessment_id">Assessment ID:</label>
                    <input id="assessment_id" type="text" name="assessment_name" required>
                    <input id="submit" type="submit" value="Next">
                </form>
                <a href="./account_dashboard.html" class="button">Go Back</a>
            </div>
        </section>
    </main>
    <script src="" async defer></script>
</body>

</html>